---
import AngularCardComponent from "../card/AngularCard/AngularCard.component";
import ReactCard from "../card/ReactCard";
import SvelteCard from "../card/SvelteCard.svelte";
import VueCard from "../card/VueCard.vue";

type Props = {
  target: string;
  initialValue: string;
  game?: boolean;
};

const { target, initialValue, game } = Astro.props;
---

<div class="relative flex-1">
  {
    target == "angular" ? (
      <AngularCardComponent dataTarget={target} initialValue={initialValue} />
    ) : target == "react" ? (
      <ReactCard dataTarget={target} initialValue={initialValue} />
    ) : target == "svelte" ? (
      <SvelteCard dataTarget={target} initialValue={initialValue} />
    ) : target == "vue" ? (
      <VueCard dataTarget={target} initialValue={initialValue} />
    ) : (
      <div class="flex h-full items-center justify-center">
        <p class="text-lg font-bold text-text">Target not found</p>
      </div>
    )
  }

  {
    game ? (
      <div class="absolute inset-x-0 -bottom-5 flex w-full justify-center gap-4">
        <button
          data-increment-button
          data-target={target}
          class="inline-flex w-24 items-center justify-center whitespace-nowrap rounded-base border-2 border-border bg-green-400 px-4 py-2 text-sm font-base text-text shadow-light ring-offset-white transition-all hover:translate-x-boxShadowX hover:translate-y-boxShadowY hover:shadow-none focus-visible:outline-none focus-visible:ring-2 focus-visible:ring-black focus-visible:ring-offset-2 disabled:pointer-events-none disabled:opacity-50"
        >
          Support
        </button>
        <button
          data-decrement-button
          data-target={target}
          class="inline-flex w-24 items-center justify-center whitespace-nowrap rounded-base border-2 border-border bg-red-400 px-4 py-2 text-sm font-base text-text shadow-light ring-offset-white transition-all hover:translate-x-boxShadowX hover:translate-y-boxShadowY hover:shadow-none focus-visible:outline-none focus-visible:ring-2 focus-visible:ring-black focus-visible:ring-offset-2 disabled:pointer-events-none disabled:opacity-50"
        >
          Hate
        </button>
      </div>
    ) : null
  }
</div>
